

.col-md-moose {
	width: 100%;
	display: block !important;
	clear: both !important;
	margin: 0 auto;

}

#masonry-grid {
	margin: 0 auto;
}

.grid-item {
	width: 300px;
	margin: 0 auto;
}

.grid-sizer {
	// width: 5%;
}


















