/**
 *
 * HOME PAGE TOP HERO UNIT
 * This involves the header area. Call-out section.
 */

#masthead {
	// height: 800px;	

	#header-hero-CTA-block {
		min-height: 450px;
		// border: 1rem dotted red;

	  @include align-items(center);
	  @include display(flex);
	  @include flex-direction(row);
	  // @include justify-content(flex-start);
	  margin: auto;

	  // #the-CTA {
	  // 	height: 300px;
	  // 	border: 1rem dotted blue;
	  // }

		#the-CTA {
				background-color: rgba( darken( $imb-third, 20% ), .5 );

				.hero-text-block {
				
					padding-left: 2rem;
					// border: 1rem solid red;
					padding-top: 5rem;
					padding-bottom: 3rem;

					@media ( max-width: 350px ) {
						padding-left: 0;
					}

					@media ( min-width: 800px ) {
						padding-top: 3rem;
					}	

					.text-only {
						font-size: 2.8rem;
						font-weight: 300;
						color: white;	



						@media ( min-width: 1000px ) {
							font-size: 3rem;
							padding-left: 2rem;
						}
						@media ( min-width: 1200px ) {
							font-size: 3.5rem;
							padding-left: 2rem;
						}
					}		

					.btn {

						// background-color: $imb-secondary;
						color: $gray-lighter;
						font-weight: 500;
						font-size: 3rem;
						margin-bottom: 3rem;
						margin-top: 2rem;
						border-radius: 50px;

						@media ( min-width: 1000px ) {
							margin-top: 2rem;
							margin-bottom: 3rem;
							padding: 1rem 2rem;

						}
						@media ( min-width: 1200px ) {
							padding: 2rem 5rem;
						}

						.fa {
							padding-left: 2rem;
						}

					}
				}
		}	  
	}
} 

